In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import completions_module as cmodule

Load data.

In [2]:
# ucar list
all_files = glob.glob("../data/completions_*.csv")
all_files = sorted(all_files)
df_ucar = cmodule.open_and_concat(all_files)

# hsi list
all_files = glob.glob("../data/hsi_completions_*.csv")
all_files = sorted(all_files)
df_hsis = cmodule.open_and_concat(all_files)

# ehi list
all_files = glob.glob("../data/emerginghsi_completions_*.csv")
all_files = sorted(all_files)
df_ehis = cmodule.open_and_concat(all_files)

Concatenate the data from UCAR, HSI, EHI lists.

In [3]:
all_unis = pd.concat([df_ucar, df_hsis, df_ehis])

## Earth and Atmospheric Sciences

In [4]:
df = cmodule.bs_degrees(all_unis)
df = cmodule.earth_and_atmos_sciences(df)

school_names = df.groupby(
    'institution name').sum()['Hispanic or Latino total'].sort_values(
    ascending=False).head(30).index

df = df[df['institution name'].isin(school_names)].groupby(
    'institution name').sum()[['Grand total','Hispanic or Latino total']]

df['percent_total'] = np.around(
    (df['Hispanic or Latino total']/df['Grand total']) * 100, 1)

df.sort_values('Hispanic or Latino total',ascending=False).head(30)

,Grand total,Hispanic or Latino total,percent_total
institution name,,,
Texas A & M University-College Station,1245,208,16.7
University of Puerto Rico-Mayaguez,171,166,97.1
University of Houston,787,163,20.7
The University of Texas at El Paso,159,114,71.7
The University of Texas at Austin,703,102,14.5
Florida International University,152,99,65.1
Pennsylvania State University-Main Campus,2195,97,4.4
University of California-Santa Cruz,581,91,15.7
University of California-Irvine,455,86,18.9
The University of Texas at San Antonio,279,83,29.7
University of California-Santa Barbara,442,79,17.9
California State University-Fullerton,283,76,26.9
United States Naval Academy,767,75,9.8
California State University-Bakersfield,192,70,36.5
University of California-Los Angeles,331,63,19.0
Stanford University,434,60,13.8
Texas Tech University,339,60,17.7
University of Washington-Seattle Campus,1101,56,5.1
Columbia University in the City of New York,343,56,16.3
University of California-Davis,392,54,13.8
University of California-Berkeley,362,53,14.6
California State Polytechnic University-Pomona,181,52,28.7
University of Arizona,420,51,12.1
Florida State University,421,49,11.6
Texas A & M University-Kingsville,122,48,39.3
The University of Texas at Arlington,302,47,15.6
California State University-Los Angeles,77,46,59.7
Texas A & M University-Corpus Christi,145,43,29.7
Humboldt State University,317,42,13.2
University of Nevada-Las Vegas,211,40,19.0