## Emerging HSI school stats (Earth and Atmospheric sciences)

In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import completions_module as cmodule

This notebook contains various tables for `Earth and Atmospheric Sciences` degrees (2009-2019).

- Table 1: Bachelors / Hispanic + Latinx (total sum for year range)
- Table 2: Bachelors / Hispanic + Latinx (annual mean for year range)
- Table 3: Bachelors / Grand total (total sum for year range)
- Table 4: Bachelors / Grand total (annual mean for year range)

- Table 5: Masters / Hispanic + Latinx (total sum for year range)
- Table 6: Masters / Hispanic + Latinx (annual mean for year range)
- Table 7: Masters / Grand total (total sum for year range)
- Table 8: Masters / Grand total (annual mean for year range)

- Table 9: Doctorate / Hispanic + Latinx (total sum for year range)
- Table 10: Doctorate / Hispanic + Latinx (annual mean for year range)
- Table 11: Doctorate / Grand total (total sum for year range)
- Table 12: Doctorate / Grand total (annual mean for year range)


_Author: Maria J. Molina (molina@ucar.edu)_

**First, lets grab hsi unis that are in ucar provided list**

In [2]:
hsi = pd.read_excel('../data/HACU-2019-20-Emerging-Hispanic-Institutions.xlsx', engine='openpyxl')
hsi_uni_list = hsi['Name'].unique()

all_files = glob.glob("../data/completions_*.csv")
all_files = sorted(all_files)
df = cmodule.open_and_concat(all_files)
ucar_uni_list = df['institution name'].unique()

ucar_list_hsi = ucar_uni_list[np.isin(ucar_uni_list, hsi_uni_list)]

In [3]:
df_ucar_hsi = df.loc[df['institution name'].isin(ucar_list_hsi)]

**Now, lets grab hsi unis that are not in the ucar provided list**

In [4]:
all_files = glob.glob("../data/emerginghsi_completions_*.csv")  # HSI list
all_files = sorted(all_files)
df_hsi = cmodule.open_and_concat(all_files)

**Finally, append the two lists of unis together**

In [5]:
all_hsi_unis = pd.concat([df_ucar_hsi, df_hsi])

### Top 30 US institutions: Hispanic/Latinx bachelor degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [6]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
Texas A & M University-College Station                     208
The University of Texas at Austin                          102
University of California-Los Angeles                        63
Stanford University                                         60
University of California-Davis                              54
University of California-Berkeley                           53
Florida State University                                    49
University of Florida                                       39
Washington State University                                 33
California Polytechnic State University-San Luis Obispo     28
University of South Florida-Main Campus                     26
University of Miami                                         26
Northern Illinois University                                23
The University of Texas at Dallas                           23
Sam Houston State University                                22
University of California-San Diego                          21
University of Northern Colorado                             20
University of Nevada-Reno                                   20
Trinity University                                          19
Portland State University                                   16
SUNY Maritime College                                       15
CUNY Brooklyn College                                       14
Baylor University                                           14
State University of New York at New Paltz                   13
Rice University                                             11
University of Southern California                           11
SUNY Oneonta                                                11
Central Washington University                                9
Eastern Washington University                                9
Stephen F Austin State University                            9
Name: Hispanic or Latino total, dtype: int64

In [7]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # ANNUAL MEAN (2009-2019)

institution name
The University of Texas at Austin                          9.272727
Texas A & M University-College Station                     8.320000
Stanford University                                        3.157895
Washington State University                                3.000000
California Polytechnic State University-San Luis Obispo    2.545455
University of South Florida-Main Campus                    2.363636
University of California-Los Angeles                       2.172414
The University of Texas at Dallas                          2.090909
University of Florida                                      1.950000
University of California-Davis                             1.741935
Florida State University                                   1.689655
SUNY Maritime College                                      1.666667
University of California-Berkeley                          1.656250
University of Northern Colorado                            1.333333
CUNY Brooklyn College                                      1.272727
State University of New York at New Paltz                  1.181818
University of California-San Diego                         1.166667
Sam Houston State University                               1.000000
Trinity University                                         0.863636
Portland State University                                  0.842105
University of Nevada-Reno                                  0.833333
Baylor University                                          0.823529
Northern Illinois University                               0.821429
Eastern Washington University                              0.818182
University of Miami                                        0.742857
Central Washington University                              0.692308
Rice University                                            0.647059
University of Southern California                          0.647059
University of Hawaii at Hilo                               0.545455
California Institute of Technology                         0.545455
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand Total bachelor degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [8]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
Texas A & M University-College Station                     1245
The University of Texas at Austin                           703
Stanford University                                         434
Florida State University                                    421
Washington State University                                 395
University of California-Davis                              392
Northern Illinois University                                388
University of California-Berkeley                           362
University of California-Los Angeles                        331
University of Florida                                       287
California Polytechnic State University-San Luis Obispo     268
University of South Florida-Main Campus                     268
Portland State University                                   250
University of Miami                                         218
State University of New York at New Paltz                   217
SUNY Oneonta                                                216
University of Northern Colorado                             209
Central Washington University                               201
The University of Texas at Dallas                           199
University of Nevada-Reno                                   194
Sam Houston State University                                190
Baylor University                                           162
Stephen F Austin State University                           157
Eastern Washington University                               147
Western Colorado University                                 143
University of California-San Diego                          142
SUNY at Albany                                              129
SUNY Maritime College                                       128
Salem State University                                      124
Trinity University                                          121
Name: Grand total, dtype: int64

In [9]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # ANNUAL MEAN (2009-2019)

institution name
The University of Texas at Austin                          63.909091
Texas A & M University-College Station                     49.800000
Washington State University                                35.909091
University of Massachusetts-Boston                         26.500000
California Polytechnic State University-San Luis Obispo    24.363636
University of South Florida-Main Campus                    24.363636
Stanford University                                        22.842105
State University of New York at New Paltz                  19.727273
The University of Texas at Dallas                          18.090909
Central Washington University                              15.461538
Florida State University                                   14.517241
University of Florida                                      14.350000
SUNY Maritime College                                      14.222222
University of Northern Colorado                            13.933333
Northern Illinois University                               13.857143
Eastern Washington University                              13.363636
Portland State University                                  13.157895
University of California-Davis                             12.645161
University of California-Los Angeles                       11.413793
University of California-Berkeley                          11.312500
Baylor University                                           9.529412
Sam Houston State University                                8.636364
University of Hawaii at Hilo                                8.272727
University of Nevada-Reno                                   8.083333
SUNY at Albany                                              8.062500
Western Colorado University                                 7.944444
University of California-San Diego                          7.888889
Stephen F Austin State University                           7.850000
CUNY Brooklyn College                                       7.818182
Midwestern State University                                 7.571429
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx master degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [10]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
Stanford University                        46
Texas A & M University-College Station     45
The University of Texas at Austin          26
University of California-San Diego         24
Florida State University                   12
University of California-Los Angeles       10
University of Miami                         9
The University of Texas at Dallas           9
University of Nevada-Reno                   7
University of California-Davis              7
University of California-Berkeley           7
Portland State University                   6
University of South Florida-Main Campus     6
University of Florida                       6
Central Washington University               4
Arizona State University-Tempe              4
Western Connecticut State University        3
Johns Hopkins University                    3
SUNY at Albany                              3
Rice University                             3
Massachusetts Institute of Technology       3
Stephen F Austin State University           2
California Institute of Technology          2
Northern Illinois University                2
Baylor University                           2
CUNY Brooklyn College                       1
University of Northern Colorado             1
University of Southern California           1
Eastern Washington University               0
Western Oregon University                   0
Name: Hispanic or Latino total, dtype: int64

In [11]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
Stanford University                        4.181818
The University of Texas at Austin          2.363636
University of California-San Diego         2.181818
Texas A & M University-College Station     2.045455
The University of Texas at Dallas          0.818182
University of Miami                        0.642857
University of California-Berkeley          0.636364
Florida State University                   0.545455
Portland State University                  0.545455
University of South Florida-Main Campus    0.545455
University of Florida                      0.545455
University of California-Los Angeles       0.454545
Central Washington University              0.363636
Arizona State University-Tempe             0.363636
University of California-Davis             0.333333
University of Nevada-Reno                  0.318182
Johns Hopkins University                   0.272727
Western Connecticut State University       0.272727
Rice University                            0.272727
SUNY at Albany                             0.230769
Stephen F Austin State University          0.181818
California Institute of Technology         0.181818
Northern Illinois University               0.181818
Baylor University                          0.181818
Massachusetts Institute of Technology      0.136364
CUNY Brooklyn College                      0.100000
University of Southern California          0.090909
University of Northern Colorado            0.076923
Eastern Washington University              0.000000
Western Oregon University                  0.000000
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total master degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [12]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
Texas A & M University-College Station     570
The University of Texas at Austin          383
Stanford University                        381
Florida State University                   308
University of California-San Diego         287
University of South Florida-Main Campus    213
University of California-Los Angeles       195
The University of Texas at Dallas          172
University of California-Davis             158
Rice University                            148
University of Nevada-Reno                  140
University of Miami                        100
California Institute of Technology          94
SUNY at Albany                              87
Portland State University                   86
Northern Illinois University                83
Massachusetts Institute of Technology       77
Stephen F Austin State University           66
Central Washington University               65
University of Florida                       63
Arizona State University-Tempe              62
Baylor University                           62
Johns Hopkins University                    56
University of California-Berkeley           52
Washington State University                 50
University of Northern Colorado             47
CUNY Brooklyn College                       43
University of Southern California           25
Western Connecticut State University        15
Midwestern State University                  6
Name: Grand total, dtype: int64

In [13]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
The University of Texas at Austin          34.818182
Stanford University                        34.636364
University of California-San Diego         26.090909
Texas A & M University-College Station     25.909091
University of South Florida-Main Campus    19.363636
The University of Texas at Dallas          15.636364
Florida State University                   14.000000
Rice University                            13.454545
University of California-Los Angeles        8.863636
California Institute of Technology          8.545455
Portland State University                   7.818182
Northern Illinois University                7.545455
University of California-Davis              7.523810
University of Miami                         7.142857
SUNY at Albany                              6.692308
University of Nevada-Reno                   6.363636
Stephen F Austin State University           6.000000
Central Washington University               5.909091
University of Florida                       5.727273
Arizona State University-Tempe              5.636364
Baylor University                           5.636364
Johns Hopkins University                    5.090909
University of California-Berkeley           4.727273
Washington State University                 4.545455
CUNY Brooklyn College                       4.300000
University of Northern Colorado             3.615385
Massachusetts Institute of Technology       3.500000
Midwestern State University                 3.000000
University of Southern California           2.272727
Western Connecticut State University        1.363636
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx doctorate degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [14]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum (2009-2019)

institution name
University of South Florida-Main Campus    13
University of California-San Diego         11
Stanford University                        10
The University of Texas at Austin           8
University of California-Los Angeles        7
University of Miami                         6
Massachusetts Institute of Technology       6
Arizona State University-Tempe              5
University of Southern California           5
University of California-Berkeley           4
Florida State University                    3
University of California-Davis              3
SUNY at Albany                              3
Texas A & M University-College Station      2
Rice University                             1
University of Florida                       1
Johns Hopkins University                    1
University of Nevada-Reno                   1
California Institute of Technology          1
The University of Texas at Dallas           0
Northern Illinois University                0
New York University                         0
Baylor University                           0
Washington State University                 0
Name: Hispanic or Latino total, dtype: int64

In [15]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
University of South Florida-Main Campus    1.181818
University of California-San Diego         1.000000
Stanford University                        0.909091
The University of Texas at Austin          0.727273
University of Miami                        0.500000
Arizona State University-Tempe             0.454545
University of Southern California          0.454545
University of California-Berkeley          0.363636
University of California-Los Angeles       0.318182
Massachusetts Institute of Technology      0.272727
SUNY at Albany                             0.272727
Florida State University                   0.136364
University of California-Davis             0.136364
California Institute of Technology         0.090909
Johns Hopkins University                   0.090909
Texas A & M University-College Station     0.090909
Rice University                            0.090909
University of Florida                      0.090909
University of Nevada-Reno                  0.045455
Northern Illinois University               0.000000
New York University                        0.000000
The University of Texas at Dallas          0.000000
Baylor University                          0.000000
Washington State University                0.000000
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total doctorate degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [16]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
University of California-San Diego         293
Stanford University                        276
The University of Texas at Austin          253
Massachusetts Institute of Technology      252
Texas A & M University-College Station     242
University of South Florida-Main Campus    152
University of California-Los Angeles       145
Florida State University                   131
University of Miami                        109
California Institute of Technology         101
Arizona State University-Tempe              98
University of California-Davis              97
University of California-Berkeley           95
University of Southern California           91
SUNY at Albany                              57
Rice University                             54
University of Nevada-Reno                   51
University of Florida                       46
Johns Hopkins University                    42
The University of Texas at Dallas           37
Baylor University                           25
Washington State University                 15
Northern Illinois University                10
New York University                          0
Name: Grand total, dtype: int64

In [17]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
University of California-San Diego         26.636364
Stanford University                        25.090909
The University of Texas at Austin          23.000000
University of South Florida-Main Campus    13.818182
Massachusetts Institute of Technology      11.454545
Texas A & M University-College Station     11.000000
California Institute of Technology          9.181818
University of Miami                         9.083333
Arizona State University-Tempe              8.909091
University of California-Berkeley           8.636364
University of Southern California           8.272727
University of California-Los Angeles        6.590909
Florida State University                    5.954545
SUNY at Albany                              5.181818
Rice University                             4.909091
University of California-Davis              4.409091
University of Florida                       4.181818
Johns Hopkins University                    3.818182
The University of Texas at Dallas           3.363636
Baylor University                           2.500000
University of Nevada-Reno                   2.318182
Washington State University                 1.500000
Northern Illinois University                1.000000
New York University                         0.000000
Name: Grand total, dtype: float64