## HSI school stats (Earth and Atmospheric sciences)

In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import completions_module as cmodule

This notebook contains various tables for `Earth and Atmospheric Sciences` degrees (2009-2019).

- Table 1: Bachelors / Hispanic + Latinx (total sum for year range)
- Table 2: Bachelors / Hispanic + Latinx (annual mean for year range)
- Table 3: Bachelors / Grand total (total sum for year range)
- Table 4: Bachelors / Grand total (annual mean for year range)

- Table 5: Masters / Hispanic + Latinx (total sum for year range)
- Table 6: Masters / Hispanic + Latinx (annual mean for year range)
- Table 7: Masters / Grand total (total sum for year range)
- Table 8: Masters / Grand total (annual mean for year range)

- Table 9: Doctorate / Hispanic + Latinx (total sum for year range)
- Table 10: Doctorate / Hispanic + Latinx (annual mean for year range)
- Table 11: Doctorate / Grand total (total sum for year range)
- Table 12: Doctorate / Grand total (annual mean for year range)


_Author: Maria J. Molina (molina@ucar.edu)_

**First, lets grab hsi unis that are in ucar provided list**

In [2]:
hsi = pd.read_excel('../data/HACU-2019-20-Hispanic-Serving-Institutions.xlsx', engine='openpyxl')
hsi_uni_list = hsi['Name'].unique()

all_files = glob.glob("../data/completions_*.csv")
all_files = sorted(all_files)
df = cmodule.open_and_concat(all_files)
ucar_uni_list = df['institution name'].unique()

ucar_list_hsi = ucar_uni_list[np.isin(ucar_uni_list, hsi_uni_list)]

In [3]:
df_ucar_hsi = df.loc[df['institution name'].isin(ucar_list_hsi)]

**Now, lets grab hsi unis that are not in the ucar provided list**

In [4]:
all_files = glob.glob("../data/hsi_completions_*.csv")  # HSI list
all_files = sorted(all_files)
df_hsi = cmodule.open_and_concat(all_files)

**Finally, append the two lists of unis together**

In [5]:
all_hsi_unis = pd.concat([df_ucar_hsi, df_hsi])

### Top 30 US institutions: Hispanic/Latinx bachelor degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [6]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
University of Puerto Rico-Mayaguez                166
University of Houston                             163
The University of Texas at El Paso                114
Florida International University                   99
University of California-Santa Cruz                91
University of California-Irvine                    86
The University of Texas at San Antonio             83
University of California-Santa Barbara             79
California State University-Fullerton              76
California State University-Bakersfield            70
Texas Tech University                              60
California State Polytechnic University-Pomona     52
University of Arizona                              51
Texas A & M University-Kingsville                  48
The University of Texas at Arlington               47
California State University-Los Angeles            46
Texas A & M University-Corpus Christi              43
Humboldt State University                          42
University of Nevada-Las Vegas                     40
California State University-San Bernardino         38
University of New Mexico-Main Campus               36
California State University-Sacramento             36
University of Houston-Downtown                     35
University of California-Merced                    32
California State University-Long Beach             32
California State University-Northridge             32
San Jose State University                          31
San Diego State University                         30
The University of Texas Permian Basin              29
University of California-Riverside                 28
Name: Hispanic or Latino total, dtype: int64

In [7]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # ANNUAL MEAN (2009-2019)

institution name
University of Puerto Rico-Mayaguez                15.090909
University of Houston                             14.818182
Florida International University                   8.250000
The University of Texas at San Antonio             7.545455
The University of Texas at El Paso                 6.333333
University of California-Irvine                    6.142857
University of California-Santa Cruz                5.352941
California State University-Fullerton              4.470588
University of Houston-Downtown                     4.375000
The University of Texas at Arlington               4.272727
California State University-Los Angeles            4.181818
University of California-Santa Barbara             4.157895
California State University-Bakersfield            3.888889
Texas Tech University                              3.750000
Texas A & M University-Kingsville                  3.692308
University of Arizona                              3.642857
University of Nevada-Las Vegas                     3.636364
California State Polytechnic University-Pomona     2.888889
California State University-Northridge             2.666667
Texas A & M University-Corpus Christi              2.529412
Humboldt State University                          2.470588
California State University-Long Beach             2.461538
University of Illinois Chicago                     2.454545
Florida Atlantic University                        2.454545
The University of Texas Permian Basin              2.416667
California State University-Sacramento             2.400000
New Jersey City University                         2.363636
University of California-Riverside                 2.333333
University of California-Merced                    2.285714
University of New Mexico-Main Campus               2.250000
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand Total bachelor degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [8]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
University of Houston                             787
University of California-Santa Cruz               581
University of California-Irvine                   455
University of California-Santa Barbara            442
University of Arizona                             420
Texas Tech University                             339
Humboldt State University                         317
The University of Texas at Arlington              302
Northern Arizona University                       283
California State University-Fullerton             283
The University of Texas at San Antonio            279
California State University-Sacramento            248
University of Nevada-Las Vegas                    211
California State University-Bakersfield           192
San Diego State University                        189
University of New Mexico-Main Campus              188
California State Polytechnic University-Pomona    181
University of Illinois Chicago                    175
University of Puerto Rico-Mayaguez                171
San Jose State University                         162
The University of Texas at El Paso                159
Florida Atlantic University                       156
Sonoma State University                           152
Florida International University                  152
Montclair State University                        147
Texas A & M University-Corpus Christi             145
California State University-Long Beach            144
California State University-Chico                 142
San Francisco State University                    139
Kean University                                   136
Name: Grand total, dtype: int64

In [9]:
df = cmodule.bs_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # ANNUAL MEAN (2009-2019)

institution name
University of Houston                             71.545455
University of California-Santa Cruz               34.176471
University of California-Irvine                   32.500000
University of Arizona                             30.000000
The University of Texas at Arlington              27.454545
The University of Texas at San Antonio            25.363636
University of California-Santa Barbara            23.263158
Texas Tech University                             21.187500
University of Nevada-Las Vegas                    19.181818
Humboldt State University                         18.647059
California State University-Fullerton             16.647059
California State University-Sacramento            16.533333
University of Illinois Chicago                    15.909091
University of Puerto Rico-Mayaguez                15.545455
University of Houston-Downtown                    14.375000
Florida Atlantic University                       14.181818
Northern Arizona University                       13.476190
Montclair State University                        13.363636
Florida International University                  12.666667
San Diego State University                        12.600000
Kean University                                   12.363636
University of New Mexico-Main Campus              11.750000
California State University-Long Beach            11.076923
California State University-Bakersfield           10.666667
California State University-Northridge            10.333333
California State University-Chico                 10.142857
California State Polytechnic University-Pomona    10.055556
California State University-Fresno                 9.416667
Texas A & M University-Kingsville                  9.384615
University of California-Riverside                 9.166667
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx master degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [10]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
University of Houston                             44
The University of Texas at El Paso                40
University of Puerto Rico-Mayaguez                29
Florida International University                  18
University of Arizona                             16
CUNY Graduate School and University Center        15
California State University-Los Angeles           15
San Diego State University                        14
The University of Texas Permian Basin             14
California State University-Fresno                14
California State University-Northridge            12
The University of Texas at San Antonio            11
Texas Tech University                             11
University of Nevada-Las Vegas                     9
University of California-Santa Barbara             9
University of California-Santa Cruz                9
New Mexico Institute of Mining and Technology      8
California State University-Bakersfield            8
California State University-Long Beach             8
Florida Atlantic University                        8
CUNY Queens College                                7
Montclair State University                         7
CUNY City College                                  7
University of New Mexico-Main Campus               7
The University of Texas at Arlington               7
San Jose State University                          6
New Mexico State University-Main Campus            6
California State University-Fullerton              6
University of California-Riverside                 5
California State Polytechnic University-Pomona     5
Name: Hispanic or Latino total, dtype: int64

In [11]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
The University of Texas at El Paso                3.636364
University of Puerto Rico-Mayaguez                2.636364
University of Houston                             2.095238
Florida International University                  1.636364
CUNY Graduate School and University Center        1.500000
California State University-Fresno                1.400000
California State University-Los Angeles           1.363636
San Diego State University                        1.272727
The University of Texas Permian Basin             1.272727
California State University-Northridge            1.090909
The University of Texas at San Antonio            1.000000
California State University-Bakersfield           0.888889
California State Polytechnic University-Pomona    0.833333
University of Nevada-Las Vegas                    0.818182
University of California-Santa Cruz               0.818182
University of California-Santa Barbara            0.818182
Florida Atlantic University                       0.800000
California State University-Long Beach            0.800000
The University of Texas at Arlington              0.777778
New Mexico Institute of Mining and Technology     0.727273
University of Arizona                             0.727273
CUNY Queens College                               0.636364
Montclair State University                        0.636364
CUNY City College                                 0.636364
University of New Mexico-Main Campus              0.636364
New Mexico State University-Main Campus           0.545455
California State University-Fullerton             0.545455
Texas Tech University                             0.500000
University of California-Riverside                0.454545
University of California-Irvine                   0.454545
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total master degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [12]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
University of Houston                            600
University of Arizona                            254
Texas Tech University                            145
New Mexico Institute of Mining and Technology    142
The University of Texas Permian Basin            139
University of Nevada-Las Vegas                   121
San Diego State University                       113
University of California-Irvine                  111
The University of Texas at El Paso               108
Northern Arizona University                      106
The University of Texas at San Antonio            89
University of New Mexico-Main Campus              89
University of California-Santa Cruz               87
San Jose State University                         86
New Mexico State University-Main Campus           82
Montclair State University                        82
California State University-Long Beach            79
CUNY Graduate School and University Center        77
California State University-Fresno                76
California State University-Northridge            75
San Francisco State University                    74
University of California-Santa Barbara            69
Florida Atlantic University                       65
California State University-Bakersfield           65
CUNY Queens College                               58
University of California-Riverside                58
CUNY City College                                 56
California State University-Los Angeles           55
The University of Texas at Arlington              52
California State University-Fullerton             50
Name: Grand total, dtype: int64

In [13]:
df = cmodule.ms_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
University of Houston                            28.571429
New Mexico Institute of Mining and Technology    12.909091
The University of Texas Permian Basin            12.636364
University of Arizona                            11.545455
University of Nevada-Las Vegas                   11.000000
San Diego State University                       10.272727
University of California-Irvine                  10.090909
The University of Texas at El Paso                9.818182
Northern Arizona University                       9.636364
The University of Texas at San Antonio            8.090909
University of New Mexico-Main Campus              8.090909
University of California-Santa Cruz               7.909091
California State University-Long Beach            7.900000
CUNY Graduate School and University Center        7.700000
California State University-Fresno                7.600000
Montclair State University                        7.454545
New Mexico State University-Main Campus           7.454545
California State University-Bakersfield           7.222222
California State University-Northridge            6.818182
San Francisco State University                    6.727273
Texas Tech University                             6.590909
Florida Atlantic University                       6.500000
University of California-Santa Barbara            6.272727
The University of Texas at Arlington              5.777778
CUNY Queens College                               5.272727
University of California-Riverside                5.272727
CUNY City College                                 5.090909
California State University-Los Angeles           5.000000
California State University-Fullerton             4.545455
Florida International University                  4.454545
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx doctorate degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [14]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum (2009-2019)

institution name
CUNY Graduate School and University Center       9
The University of Texas at El Paso               8
University of Arizona                            7
University of Houston                            6
University of California-Santa Cruz              5
Florida International University                 4
University of New Mexico-Main Campus             3
University of California-Santa Barbara           3
Texas Tech University                            2
University of California-Irvine                  2
New Mexico Institute of Mining and Technology    1
University of California-Riverside               1
Florida Atlantic University                      1
University of Nevada-Las Vegas                   0
San Diego State University                       0
Nova Southeastern University                     0
New Mexico State University-Main Campus          0
Loma Linda University                            0
University of Illinois Chicago                   0
Name: Hispanic or Latino total, dtype: int64

In [15]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
CUNY Graduate School and University Center       0.818182
The University of Texas at El Paso               0.727273
University of California-Santa Cruz              0.454545
Florida International University                 0.363636
University of Arizona                            0.333333
University of Houston                            0.300000
University of New Mexico-Main Campus             0.272727
University of California-Santa Barbara           0.272727
Texas Tech University                            0.181818
University of California-Irvine                  0.181818
Florida Atlantic University                      0.125000
New Mexico Institute of Mining and Technology    0.090909
University of California-Riverside               0.090909
University of Nevada-Las Vegas                   0.000000
San Diego State University                       0.000000
Nova Southeastern University                     0.000000
New Mexico State University-Main Campus          0.000000
Loma Linda University                            0.000000
University of Illinois Chicago                   0.000000
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total doctorate degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [16]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
University of Arizona                            181
University of Houston                            152
University of California-Santa Cruz              135
CUNY Graduate School and University Center        94
University of California-Irvine                   74
University of California-Santa Barbara            52
The University of Texas at El Paso                48
University of California-Riverside                41
Florida International University                  41
University of New Mexico-Main Campus              41
New Mexico Institute of Mining and Technology     34
University of Nevada-Las Vegas                    30
Texas Tech University                             28
Florida Atlantic University                       24
Nova Southeastern University                      19
University of Illinois Chicago                    13
Loma Linda University                              9
New Mexico State University-Main Campus            7
San Diego State University                         5
Name: Grand total, dtype: int64

In [17]:
df = cmodule.phd_degrees(all_hsi_unis)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # annual mean (2009-2019)

institution name
University of California-Santa Cruz              12.272727
University of Arizona                             8.619048
CUNY Graduate School and University Center        8.545455
University of Houston                             7.600000
University of California-Irvine                   6.727273
University of California-Santa Barbara            4.727273
The University of Texas at El Paso                4.363636
University of California-Riverside                3.727273
Florida International University                  3.727273
University of New Mexico-Main Campus              3.727273
New Mexico Institute of Mining and Technology     3.090909
Florida Atlantic University                       3.000000
University of Nevada-Las Vegas                    2.727273
Texas Tech University                             2.545455
Nova Southeastern University                      1.727273
University of Illinois Chicago                    1.300000
San Diego State University                        1.250000
New Mexico State University-Main Campus           1.000000
Loma Linda University                             0.818182
Name: Grand total, dtype: float64