In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import completions_module as cmodule

This notebook contains various tables for `Earth and Atmospheric Sciences` degrees (2009-2019).

- Table 1: Bachelors / Hispanic + Latinx (total sum for year range)
- Table 2: Bachelors / Hispanic + Latinx (annual mean for year range)
- Table 3: Bachelors / Grand total (total sum for year range)
- Table 4: Bachelors / Grand total (annual mean for year range)

- Table 5: Masters / Hispanic + Latinx (total sum for year range)
- Table 6: Masters / Hispanic + Latinx (annual mean for year range)
- Table 7: Masters / Grand total (total sum for year range)
- Table 8: Masters / Grand total (annual mean for year range)

- Table 9: Doctorate / Hispanic + Latinx (total sum for year range)
- Table 10: Doctorate / Hispanic + Latinx (annual mean for year range)
- Table 11: Doctorate / Grand total (total sum for year range)
- Table 12: Doctorate / Grand total (annual mean for year range)


_Author: Maria J. Molina (molina@ucar.edu)_

In [2]:
all_files = glob.glob("../data/completions_*.csv")
all_files = sorted(all_files)

### Top 30 US institutions: Hispanic/Latinx bachelor degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [3]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum

institution name
Texas A & M University-College Station         208
University of Houston                          163
The University of Texas at El Paso             114
The University of Texas at Austin              102
Florida International University                99
Pennsylvania State University-Main Campus       97
University of California-Irvine                 86
United States Naval Academy                     75
University of California-Los Angeles            63
Texas Tech University                           60
Stanford University                             60
Columbia University in the City of New York     56
University of Washington-Seattle Campus         56
University of California-Davis                  54
University of California-Berkeley               53
University of Arizona                           51
Florida State University                        49
The University of Texas at Arlington            47
Texas A & M University-Corpus Christi           43
Humboldt State University                       42
University of Illinois at Urbana-Champaign      40
University of Nevada-Las Vegas                  40
University of Oklahoma-Norman Campus            37
Washington State University                     33
University of Colorado Boulder                  33
University of California-Merced                 32
San Jose State University                       31
Mississippi State University                    30
San Diego State University                      30
Cornell University                              30
Name: Hispanic or Latino total, dtype: int64

In [4]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # annual mean

institution name
University of Houston                          14.818182
The University of Texas at Austin               9.272727
Texas A & M University-College Station          8.320000
Florida International University                8.250000
United States Naval Academy                     6.818182
The University of Texas at El Paso              6.333333
University of California-Irvine                 6.142857
Pennsylvania State University-Main Campus       4.409091
The University of Texas at Arlington            4.272727
Texas Tech University                           3.750000
University of Arizona                           3.642857
University of Nevada-Las Vegas                  3.636364
Stanford University                             3.157895
Washington State University                     3.000000
Mississippi State University                    2.727273
Columbia University in the City of New York     2.545455
Texas A & M University-Corpus Christi           2.529412
Humboldt State University                       2.470588
University of South Florida-Main Campus         2.363636
University of California-Merced                 2.285714
Kean University                                 2.181818
University of California-Los Angeles            2.172414
San Diego State University                      2.000000
University of the Incarnate Word                1.769231
University of California-Davis                  1.741935
Florida State University                        1.689655
University of Oklahoma-Norman Campus            1.681818
SUNY Maritime College                           1.666667
University of California-Berkeley               1.656250
San Francisco State University                  1.529412
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand Total bachelor degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [5]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum

institution name
Texas A & M University-College Station         208
University of Houston                          163
The University of Texas at El Paso             114
The University of Texas at Austin              102
Florida International University                99
Pennsylvania State University-Main Campus       97
University of California-Irvine                 86
United States Naval Academy                     75
University of California-Los Angeles            63
Texas Tech University                           60
Stanford University                             60
Columbia University in the City of New York     56
University of Washington-Seattle Campus         56
University of California-Davis                  54
University of California-Berkeley               53
University of Arizona                           51
Florida State University                        49
The University of Texas at Arlington            47
Texas A & M University-Corpus Christi           43
Humboldt State University                       42
University of Illinois at Urbana-Champaign      40
University of Nevada-Las Vegas                  40
University of Oklahoma-Norman Campus            37
Washington State University                     33
University of Colorado Boulder                  33
University of California-Merced                 32
San Jose State University                       31
Mississippi State University                    30
San Diego State University                      30
Cornell University                              30
Name: Hispanic or Latino total, dtype: int64

In [6]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # annual mean

institution name
Pennsylvania State University-Main Campus              99.772727
Mississippi State University                           80.000000
University of Houston                                  71.545455
United States Naval Academy                            69.727273
The University of Texas at Austin                      63.909091
Texas A & M University-College Station                 49.800000
Montana State University                               40.454545
Washington State University                            35.909091
University of California-Irvine                        32.500000
University of Oklahoma-Norman Campus                   31.954545
University of Arizona                                  30.000000
University of Washington-Seattle Campus                29.756757
The University of Texas at Arlington                   27.454545
Michigan State University                              27.090909
Oregon State University                                25.000000
University of South Florida-Main Campus                24.363636
Missouri University of Science and Technology          23.272727
Colorado State University-Fort Collins                 23.000000
Stanford University                                    22.842105
Texas Tech University                                  21.187500
University of North Carolina at Charlotte              20.392857
University of Wyoming                                  20.350000
Virginia Polytechnic Institute and State University    20.095238
Embry-Riddle Aeronautical University-Daytona Beach     20.000000
University of Colorado Boulder                         19.370370
University of Nevada-Las Vegas                         19.181818
North Carolina State University at Raleigh             18.965517
University of Missouri-Columbia                        18.681818
Humboldt State University                              18.647059
The University of Tennessee-Knoxville                  18.187500
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx master degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [7]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum

institution name
Stanford University                              46
Texas A & M University-College Station           45
University of Houston                            44
The University of Texas at El Paso               40
The University of Texas at Austin                26
Pennsylvania State University-Main Campus        24
University of California-San Diego               24
Mississippi State University                     24
Florida International University                 18
University of Arizona                            16
CUNY Graduate School and University Center       15
San Diego State University                       14
University of Washington-Seattle Campus          13
University of Oklahoma-Norman Campus             13
Colorado State University-Fort Collins           13
Florida State University                         12
Texas Tech University                            11
University of Wisconsin-Madison                  10
University of California-Los Angeles             10
University of Michigan-Ann Arbor                 10
University of Utah                               10
University of Colorado Boulder                    9
University of Miami                               9
University of Nevada-Las Vegas                    9
Naval Postgraduate School                         9
University of Hawaii at Manoa                     8
New Mexico Institute of Mining and Technology     8
Columbia University in the City of New York       8
University of California-Davis                    7
CUNY City College                                 7
Name: Hispanic or Latino total, dtype: int64

In [8]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum

institution name
Stanford University                              4.181818
The University of Texas at El Paso               3.636364
The University of Texas at Austin                2.363636
Mississippi State University                     2.181818
University of California-San Diego               2.181818
University of Houston                            2.095238
Texas A & M University-College Station           2.045455
Florida International University                 1.636364
CUNY Graduate School and University Center       1.500000
San Diego State University                       1.272727
Pennsylvania State University-Main Campus        1.090909
University of Nevada-Las Vegas                   0.818182
The University of Texas at Arlington             0.777778
Columbia University in the City of New York      0.727273
University of Arizona                            0.727273
New Mexico Institute of Mining and Technology    0.727273
University of Miami                              0.642857
University of California-Berkeley                0.636364
Purdue University-Main Campus                    0.636364
CUNY City College                                0.636364
University of Oklahoma-Norman Campus             0.590909
University of South Florida-Main Campus          0.545455
Florida State University                         0.545455
Colorado State University-Fort Collins           0.500000
Texas Tech University                            0.500000
University of Washington-Seattle Campus          0.464286
University of California-Irvine                  0.454545
University of Utah                               0.454545
University of California-Los Angeles             0.454545
University of Michigan-Ann Arbor                 0.454545
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total master degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [9]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # total sum

institution name
Mississippi State University                     949
University of Houston                            600
Texas A & M University-College Station           570
University of Oklahoma-Norman Campus             470
The University of Texas at Austin                383
Stanford University                              381
University of Washington-Seattle Campus          344
Florida State University                         308
University of Utah                               294
University of California-San Diego               287
Colorado State University-Fort Collins           267
University of Wisconsin-Madison                  267
Pennsylvania State University-Main Campus        266
University of Arizona                            254
Naval Postgraduate School                        243
University of Michigan-Ann Arbor                 232
University of South Florida-Main Campus          213
University of Hawaii at Manoa                    209
University of Wyoming                            204
University of California-Los Angeles             195
University of Colorado Boulder                   187
Oregon State University                          181
University of Kansas                             166
University of Illinois at Urbana-Champaign       166
University of California-Davis                   158
Rice University                                  148
Texas Tech University                            145
University of Rhode Island                       144
New Mexico Institute of Mining and Technology    142
Columbia University in the City of New York      141
Name: Grand total, dtype: int64

In [10]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # total sum

institution name
Mississippi State University                     86.272727
The University of Texas at Austin                34.818182
Stanford University                              34.636364
University of Houston                            28.571429
University of California-San Diego               26.090909
Texas A & M University-College Station           25.909091
University of Oklahoma-Norman Campus             21.363636
University of South Florida-Main Campus          19.363636
Florida State University                         14.000000
Rice University                                  13.454545
University of Utah                               13.363636
University of Rhode Island                       13.090909
New Mexico Institute of Mining and Technology    12.909091
Columbia University in the City of New York      12.818182
University of Washington-Seattle Campus          12.285714
University of Wisconsin-Madison                  12.136364
Pennsylvania State University-Main Campus        12.090909
Naval Postgraduate School                        11.571429
University of Arizona                            11.545455
Brown University                                 11.454545
Missouri University of Science and Technology    11.363636
University of Nevada-Las Vegas                   11.000000
Indiana University-Bloomington                   10.636364
University of Michigan-Ann Arbor                 10.545455
University of Tulsa                              10.454545
Georgia Institute of Technology-Main Campus      10.363636
University of New Hampshire-Main Campus          10.272727
San Diego State University                       10.272727
Colorado State University-Fort Collins           10.269231
University of California-Irvine                  10.090909
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx doctorate degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [11]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum

institution name
University of South Florida-Main Campus       13
University of California-San Diego            11
Pennsylvania State University-Main Campus     11
Stanford University                           10
Oregon State University                        9
CUNY Graduate School and University Center     9
The University of Texas at Austin              8
The University of Texas at El Paso             8
University of California-Los Angeles           7
University of Arizona                          7
University of Kansas                           7
University of Miami                            6
University of Houston                          6
Massachusetts Institute of Technology          6
University of Hawaii at Manoa                  6
Arizona State University-Tempe                 5
University of Southern California              5
University of Michigan-Ann Arbor               5
University of Washington-Seattle Campus        5
University of Colorado Boulder                 5
Florida International University               4
George Mason University                        4
University of California-Berkeley              4
Howard University                              4
University of Wisconsin-Madison                4
Colorado State University-Fort Collins         4
University of Utah                             4
University of Minnesota-Twin Cities            3
University of California-Davis                 3
SUNY at Albany                                 3
Name: Hispanic or Latino total, dtype: int64

In [12]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # total sum

institution name
University of South Florida-Main Campus       1.181818
University of California-San Diego            1.000000
Stanford University                           0.909091
CUNY Graduate School and University Center    0.818182
The University of Texas at El Paso            0.727273
The University of Texas at Austin             0.727273
Oregon State University                       0.600000
University of Kansas                          0.538462
University of Miami                           0.500000
Pennsylvania State University-Main Campus     0.500000
University of Southern California             0.454545
Arizona State University-Tempe                0.454545
Howard University                             0.444444
Florida International University              0.363636
University of California-Berkeley             0.363636
University of Arizona                         0.333333
University of California-Los Angeles          0.318182
University of Houston                         0.300000
University of Minnesota-Twin Cities           0.272727
University of Hawaii at Manoa                 0.272727
SUNY at Albany                                0.272727
Massachusetts Institute of Technology         0.272727
University of Michigan-Ann Arbor              0.227273
Harvard University                            0.222222
University of Colorado Boulder                0.200000
Montana State University                      0.200000
University of Utah                            0.190476
Tulane University of Louisiana                0.181818
University of California-Irvine               0.181818
Texas Tech University                         0.181818
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total doctorate degree recipients in the Earth and Atmospheric Sciences (2009-2019)

In [13]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)  # total sum

institution name
University of California-San Diego             293
Stanford University                            276
University of Washington-Seattle Campus        274
The University of Texas at Austin              253
Massachusetts Institute of Technology          252
Texas A & M University-College Station         242
Pennsylvania State University-Main Campus      198
University of Michigan-Ann Arbor               197
University of Colorado Boulder                 193
University of Arizona                          181
University of Houston                          152
University of South Florida-Main Campus        152
University of Hawaii at Manoa                  150
University of Oklahoma-Norman Campus           150
University of Wisconsin-Madison                147
University of California-Los Angeles           145
Colorado State University-Fort Collins         136
Columbia University in the City of New York    132
Florida State University                       131
Oregon State University                        122
George Mason University                        122
Georgia Institute of Technology-Main Campus    115
University of Maryland-College Park            115
University of Miami                            109
California Institute of Technology             101
University of Utah                              98
Arizona State University-Tempe                  98
University of California-Davis                  97
Purdue University-Main Campus                   96
University of California-Berkeley               95
Name: Grand total, dtype: int64

In [14]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.earth_and_atmos_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)  # total sum

institution name
University of California-San Diego                     26.636364
Stanford University                                    25.090909
The University of Texas at Austin                      23.000000
University of South Florida-Main Campus                13.818182
Columbia University in the City of New York            12.000000
Massachusetts Institute of Technology                  11.454545
Texas A & M University-College Station                 11.000000
Georgia Institute of Technology-Main Campus            10.454545
University of Washington-Seattle Campus                 9.785714
California Institute of Technology                      9.181818
University of Miami                                     9.083333
Pennsylvania State University-Main Campus               9.000000
University of Michigan-Ann Arbor                        8.954545
Arizona State University-Tempe                          8.909091
Purdue University-Main Campus                           8.727273
University of California-Berkeley                       8.636364
Brown University                                        8.636364
University of Arizona                                   8.619048
CUNY Graduate School and University Center              8.545455
University of Southern California                       8.272727
Oregon State University                                 8.133333
Yale University                                         7.818182
University of Colorado Boulder                          7.720000
Virginia Polytechnic Institute and State University     7.636364
University of Houston                                   7.600000
University of Rhode Island                              7.000000
University of Oklahoma-Norman Campus                    6.818182
University of Hawaii at Manoa                           6.818182
University of California-Irvine                         6.727273
University of Wisconsin-Madison                         6.681818
Name: Grand total, dtype: float64