In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import completions_module as cmodule

This notebook contains various tables for `Atmospheric Sciences` degrees (2009-2019).

- Table 1: Bachelors / Hispanic + Latinx (total sum for year range)
- Table 2: Bachelors / Hispanic + Latinx (annual mean for year range)
- Table 3: Bachelors / Grand total (total sum for year range)
- Table 4: Bachelors / Grand total (annual mean for year range)

- Table 5: Masters / Hispanic + Latinx (total sum for year range)
- Table 6: Masters / Hispanic + Latinx (annual mean for year range)
- Table 7: Masters / Grand total (total sum for year range)
- Table 8: Masters / Grand total (annual mean for year range)

- Table 9: Doctorate / Hispanic + Latinx (total sum for year range)
- Table 10: Doctorate / Hispanic + Latinx (annual mean for year range)
- Table 11: Doctorate / Grand total (total sum for year range)
- Table 12: Doctorate / Grand total (annual mean for year range)


_Author: Maria J. Molina (molina@ucar.edu)_

Model table after tables in: https://issues.org/nothing-succeeds-like-success-underrepresented-minorities-stem/

In [2]:
all_files = glob.glob("../data/completions_*.csv")
all_files = sorted(all_files)

### Top 30 US institutions: Hispanic/Latinx bachelor degree recipients in the Atmospheric Sciences (2009-2019)

In [3]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # TOTAL SUM (2009-2019)

institution name
Texas A & M University-College Station                 53
Florida State University                               35
University of the Incarnate Word                       23
University of California-Los Angeles                   21
University of Illinois at Urbana-Champaign             18
Pennsylvania State University-Main Campus              17
SUNY Maritime College                                  15
University of Oklahoma-Norman Campus                   15
Embry-Riddle Aeronautical University-Daytona Beach     14
Cornell University                                     14
University of Miami                                    12
San Jose State University                              12
Northern Illinois University                           12
University of Washington-Seattle Campus                12
Virginia Polytechnic Institute and State University    10
Valparaiso University                                   9
Rutgers University-New Brunswick                        9
SUNY College at Oswego                                  8
SUNY at Albany                                          8
Stony Brook University                                  8
University of Missouri-Columbia                         7
North Carolina State University at Raleigh              7
Embry-Riddle Aeronautical University-Prescott           7
University of South Alabama                             6
University of California-Davis                          6
Millersville University of Pennsylvania                 5
University of Louisiana at Monroe                       5
University of Kansas                                    5
Purdue University-Main Campus                           5
United States Air Force Academy                         5
Name: Hispanic or Latino total, dtype: int64

In [4]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)  # ANNUAL MEAN (2009-2019)

institution name
Texas A & M University-College Station                 4.818182
Florida State University                               2.692308
University of the Incarnate Word                       1.769231
SUNY Maritime College                                  1.666667
Pennsylvania State University-Main Campus              1.545455
University of California-Los Angeles                   1.500000
University of Oklahoma-Norman Campus                   1.363636
Cornell University                                     1.272727
Embry-Riddle Aeronautical University-Daytona Beach     1.272727
San Jose State University                              1.090909
Virginia Polytechnic Institute and State University    1.000000
University of Illinois at Urbana-Champaign             1.000000
University of Miami                                    0.857143
Northern Illinois University                           0.857143
Rutgers University-New Brunswick                       0.818182
SUNY College at Oswego                                 0.727273
SUNY at Albany                                         0.666667
University of Washington-Seattle Campus                0.666667
Embry-Riddle Aeronautical University-Prescott          0.636364
University of Missouri-Columbia                        0.636364
Purdue University-Main Campus                          0.555556
University of California-Davis                         0.545455
University of South Alabama                            0.545455
North Carolina State University at Raleigh             0.538462
George Mason University                                0.500000
Ohio State University-Main Campus                      0.500000
Indiana University-Bloomington                         0.500000
Stony Brook University                                 0.500000
Valparaiso University                                  0.500000
United States Air Force Academy                        0.454545
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand Total bachelor degree recipients in the Atmospheric Sciences (2009-2019)

In [5]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)   # TOTAL SUM (2009-2019)

institution name
Pennsylvania State University-Main Campus              542
University of Oklahoma-Norman Campus                   416
University of Missouri-Columbia                        305
Texas A & M University-College Station                 298
Florida State University                               295
Valparaiso University                                  249
North Carolina State University at Raleigh             245
Millersville University of Pennsylvania                229
Embry-Riddle Aeronautical University-Daytona Beach     220
University of Illinois at Urbana-Champaign             192
University of Washington-Seattle Campus                185
Iowa State University                                  181
Northern Illinois University                           180
University of Wisconsin-Madison                        171
Virginia Polytechnic Institute and State University    161
Rutgers University-New Brunswick                       158
SUNY College at Oswego                                 154
University of South Alabama                            151
University of North Carolina at Charlotte              149
University of California-Los Angeles                   138
Saint Cloud State University                           130
SUNY Maritime College                                  128
SUNY at Albany                                         128
Plymouth State University                              125
Central Michigan University                            124
University of North Carolina at Asheville              117
University of North Dakota                             114
Cornell University                                     112
University of Nebraska-Lincoln                         110
University of Kansas                                   109
Name: Grand total, dtype: int64

In [6]:
df = cmodule.open_and_concat(all_files)
df = cmodule.bs_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)   # ANNUAL MEAN (2009-2019)

institution name
Pennsylvania State University-Main Campus              49.272727
University of Oklahoma-Norman Campus                   37.818182
University of Missouri-Columbia                        27.727273
Texas A & M University-College Station                 27.090909
Florida State University                               22.692308
Embry-Riddle Aeronautical University-Daytona Beach     20.000000
North Carolina State University at Raleigh             18.846154
Iowa State University                                  16.454545
Virginia Polytechnic Institute and State University    16.100000
Millersville University of Pennsylvania                15.266667
Rutgers University-New Brunswick                       14.363636
SUNY Maritime College                                  14.222222
SUNY College at Oswego                                 14.000000
Valparaiso University                                  13.833333
University of South Alabama                            13.727273
Northern Illinois University                           12.857143
University of North Carolina at Charlotte              11.461538
Plymouth State University                              11.363636
Purdue University-Main Campus                          10.888889
Saint Cloud State University                           10.833333
University of Illinois at Urbana-Champaign             10.666667
SUNY at Albany                                         10.666667
University of North Dakota                             10.363636
University of Washington-Seattle Campus                10.277778
Cornell University                                     10.181818
Ohio State University-Main Campus                      10.125000
Northern Vermont University                            10.000000
University of Kansas                                    9.909091
University of California-Los Angeles                    9.857143
University of North Carolina at Asheville               9.750000
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx master degree recipients in the Atmospheric Sciences (2009-2019)

In [11]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)   # total sum (2009-2019)

institution name
Colorado State University-Fort Collins         10
Naval Postgraduate School                       8
Florida State University                        7
University of Washington-Seattle Campus         6
Pennsylvania State University-Main Campus       6
University of Michigan-Ann Arbor                6
University of Utah                              5
University of Arizona                           5
University of California-Los Angeles            5
Texas A & M University-College Station          4
San Jose State University                       4
University of Wisconsin-Madison                 4
University of Hawaii at Manoa                   3
University of Colorado Boulder                  3
University of Nevada-Reno                       3
University of Alabama in Huntsville             3
SUNY at Albany                                  3
Ohio State University-Main Campus               2
University of Oklahoma-Norman Campus            2
South Dakota School of Mines and Technology     2
University of Illinois at Urbana-Champaign      2
Howard University                               1
Hampton University                              1
Saint Louis University                          1
Florida Institute of Technology                 1
Plymouth State University                       1
Texas Tech University                           1
University of California-Davis                  1
University of North Dakota                      1
University of Houston                           1
Name: Hispanic or Latino total, dtype: int64

In [12]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)   # annual mean (2009-2019)

institution name
Colorado State University-Fort Collins         0.769231
Naval Postgraduate School                      0.727273
Florida State University                       0.636364
Pennsylvania State University-Main Campus      0.545455
University of Michigan-Ann Arbor               0.545455
University of Utah                             0.454545
University of Arizona                          0.454545
University of California-Los Angeles           0.454545
University of Washington-Seattle Campus        0.428571
San Jose State University                      0.400000
University of Wisconsin-Madison                0.363636
Texas A & M University-College Station         0.363636
University of Hawaii at Manoa                  0.272727
University of Alabama in Huntsville            0.272727
SUNY at Albany                                 0.272727
University of Nevada-Reno                      0.272727
University of Colorado Boulder                 0.230769
Ohio State University-Main Campus              0.200000
University of Illinois at Urbana-Champaign     0.181818
South Dakota School of Mines and Technology    0.181818
University of Oklahoma-Norman Campus           0.181818
University of Missouri-Columbia                0.111111
University of California-Davis                 0.100000
Florida Institute of Technology                0.100000
University of Houston                          0.100000
Plymouth State University                      0.090909
Howard University                              0.090909
Hampton University                             0.090909
Texas Tech University                          0.090909
Saint Louis University                         0.090909
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total master degree recipients in the Atmospheric Sciences (2009-2019)

In [13]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)   # total sum (2009-2019)

institution name
Naval Postgraduate School                      209
University of Oklahoma-Norman Campus           173
University of Michigan-Ann Arbor               163
Colorado State University-Fort Collins         155
Florida State University                       151
University of Wisconsin-Madison                115
Pennsylvania State University-Main Campus      110
Texas A & M University-College Station         102
University of Washington-Seattle Campus        100
University of Alabama in Huntsville             99
University of Illinois at Urbana-Champaign      93
SUNY at Albany                                  83
University of Colorado Boulder                  82
University of California-Los Angeles            80
University of Utah                              78
University of Maryland-College Park             76
Plymouth State University                       66
University of North Dakota                      62
University of Arizona                           61
University of Hawaii at Manoa                   58
University of Missouri-Columbia                 53
South Dakota School of Mines and Technology     52
University of Wyoming                           52
Texas Tech University                           50
Iowa State University                           44
Princeton University                            39
Ohio State University-Main Campus               34
University of Nevada-Reno                       34
University of California-Davis                  34
Saint Louis University                          34
Name: Grand total, dtype: int64

In [14]:
df = cmodule.open_and_concat(all_files)
df = cmodule.ms_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)   # annual mean (2009-2019)

institution name
Naval Postgraduate School                      19.000000
University of Oklahoma-Norman Campus           15.727273
University of Michigan-Ann Arbor               14.818182
Florida State University                       13.727273
Colorado State University-Fort Collins         11.923077
University of Wisconsin-Madison                10.454545
Pennsylvania State University-Main Campus      10.000000
Texas A & M University-College Station          9.272727
University of Alabama in Huntsville             9.000000
University of Illinois at Urbana-Champaign      8.454545
SUNY at Albany                                  7.545455
University of California-Los Angeles            7.272727
University of Washington-Seattle Campus         7.142857
University of Utah                              7.090909
University of Maryland-College Park             6.909091
University of Colorado Boulder                  6.307692
Plymouth State University                       6.000000
University of Missouri-Columbia                 5.888889
University of North Dakota                      5.636364
University of Arizona                           5.545455
University of Hawaii at Manoa                   5.272727
South Dakota School of Mines and Technology     4.727273
University of Wyoming                           4.727273
Texas Tech University                           4.545455
Iowa State University                           4.000000
University of Wisconsin-Milwaukee               4.000000
University of Miami                             3.666667
Princeton University                            3.545455
Ohio State University-Main Campus               3.400000
University of California-Davis                  3.400000
Name: Grand total, dtype: float64

### Top 30 US institutions: Hispanic/Latinx doctorate degree recipients in the Atmospheric Sciences (2009-2019)

In [9]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').sum()['Hispanic or Latino total'].sort_values(ascending=False).head(30)   # total sum (2009-2019)

institution name
University of Washington-Seattle Campus      4
Howard University                            4
Pennsylvania State University-Main Campus    4
Colorado State University-Fort Collins       3
University of Colorado Boulder               3
University of Utah                           3
Florida State University                     3
SUNY at Albany                               3
Texas A & M University-College Station       2
University of Wisconsin-Madison              2
University of California-Los Angeles         2
George Mason University                      1
Massachusetts Institute of Technology        1
Saint Louis University                       1
University of California-Davis               1
University of Alabama in Huntsville          1
University of Oklahoma-Norman Campus         1
University of Nevada-Reno                    1
University of Michigan-Ann Arbor             1
University of Delaware                       0
Ohio State University-Main Campus            0
Cornell University                           0
University of North Dakota                   0
Hampton University                           0
Iowa State University                        0
University of Missouri-Columbia              0
Michigan Technological University            0
Naval Postgraduate School                    0
New York University                          0
Oregon State University                      0
Name: Hispanic or Latino total, dtype: int64

In [10]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').mean()['Hispanic or Latino total'].sort_values(ascending=False).head(30)   # annual mean (2009-2019)

institution name
Howard University                            0.444444
Pennsylvania State University-Main Campus    0.363636
University of Utah                           0.300000
SUNY at Albany                               0.300000
University of Washington-Seattle Campus      0.285714
Florida State University                     0.272727
Colorado State University-Fort Collins       0.250000
University of Colorado Boulder               0.250000
Texas A & M University-College Station       0.181818
University of Wisconsin-Madison              0.181818
University of California-Los Angeles         0.181818
Saint Louis University                       0.100000
George Mason University                      0.090909
Massachusetts Institute of Technology        0.090909
University of California-Davis               0.090909
University of Alabama in Huntsville          0.090909
University of Oklahoma-Norman Campus         0.090909
University of Nevada-Reno                    0.090909
University of Michigan-Ann Arbor             0.090909
University of Delaware                       0.000000
Ohio State University-Main Campus            0.000000
Cornell University                           0.000000
University of North Dakota                   0.000000
Hampton University                           0.000000
Iowa State University                        0.000000
University of Missouri-Columbia              0.000000
Michigan Technological University            0.000000
Naval Postgraduate School                    0.000000
New York University                          0.000000
Oregon State University                      0.000000
Name: Hispanic or Latino total, dtype: float64

### Top 30 US institutions: Grand total doctorate degree recipients in the Atmospheric Sciences (2009-2019)

In [7]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').sum()['Grand total'].sort_values(ascending=False).head(30)   # total sum (2009-2019)

institution name
Colorado State University-Fort Collins        105
University of Colorado Boulder                 89
University of Washington-Seattle Campus        87
Pennsylvania State University-Main Campus      86
University of Oklahoma-Norman Campus           84
University of Michigan-Ann Arbor               84
University of Maryland-College Park            79
Texas A & M University-College Station         60
University of Wisconsin-Madison                59
SUNY at Albany                                 55
University of California-Los Angeles           55
Massachusetts Institute of Technology          52
Florida State University                       51
University of Illinois at Urbana-Champaign     49
University of Utah                             41
George Mason University                        36
Princeton University                           33
University of Arizona                          28
University of Alabama in Huntsville            27
University of California-Davis                 27
University of Hawaii at Manoa                  26
University of Missouri-Columbia                26
University of Nevada-Reno                      25
Rutgers University-New Brunswick               23
Iowa State University                          23
Howard University                              22
University of Wyoming                          20
University of Houston                          20
Naval Postgraduate School                      18
Saint Louis University                         18
Name: Grand total, dtype: int64

In [8]:
df = cmodule.open_and_concat(all_files)
df = cmodule.phd_degrees(df)
df = cmodule.atmospheric_sciences(df)
df.groupby('institution name').mean()['Grand total'].sort_values(ascending=False).head(30)   # ANNUAL MEAN (2009-2019)

institution name
Colorado State University-Fort Collins        8.750000
Pennsylvania State University-Main Campus     7.818182
University of Oklahoma-Norman Campus          7.636364
University of Michigan-Ann Arbor              7.636364
University of Colorado Boulder                7.416667
University of Maryland-College Park           7.181818
University of Washington-Seattle Campus       6.214286
SUNY at Albany                                5.500000
Texas A & M University-College Station        5.454545
University of Wisconsin-Madison               5.363636
University of California-Los Angeles          5.000000
Massachusetts Institute of Technology         4.727273
Florida State University                      4.636364
University of Illinois at Urbana-Champaign    4.454545
University of Utah                            4.100000
George Mason University                       3.272727
Princeton University                          3.000000
University of Arizona                         2.800000
University of Alabama in Huntsville           2.454545
University of California-Davis                2.454545
Howard University                             2.444444
University of Hawaii at Manoa                 2.363636
University of Missouri-Columbia               2.363636
Rutgers University-New Brunswick              2.300000
University of Nevada-Reno                     2.272727
University of Houston                         2.222222
University of Wyoming                         1.818182
Naval Postgraduate School                     1.800000
Saint Louis University                        1.800000
Iowa State University                         1.533333
Name: Grand total, dtype: float64